@import "./normalize.scss";
@import "./vars.scss";

@import 'react-toastify/dist/ReactToastify.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f2f2f7;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

.form {
  display: grid;
  grid-gap: 16px;
  width: 384px;
  padding: 24px 32px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
    0px 8px 16px rgba(50, 50, 71, 0.06);

  .form__title {
    color: #2b2f53;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
  }

  &__other-auth {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96px;

    & > * {
      cursor: pointer;
    }
  }

  &-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
}
