.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0.5em 1.5em;
  font-size: 16px;
  border-radius: 0.25em;
  cursor: pointer;
  background: transparent;
  color: #c1c1c2;
  box-shadow: none;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.1s;

  &:hover {
    background: darken(rgb(255, 255, 255), 10%);
    color: #0077ff;
  }

  &:active {
    transform: scale(0.95);
  }

  &--white {
    background: #fff;
    box-shadow: 0 0 0 2px #f2f2f7, 0px 4px 4px rgba(0, 0, 0, 0.08%),
      0px 4px 8px rgba(50, 50, 71, 0.01%);
    color: #0077ff;

    &:hover {
      background: darken(rgb(255, 255, 255), 1%);
      color: #0077ff;
    }
  }

  &--primary {
    background: #0077ff;
    box-shadow: 0 0 0 1px #0063d4, 0px 0.25em 0.25em rgba(0, 0, 0, 0.08),
      0px 0.25em 0.5em rgba(50, 50, 71, 0.006);
    color: #fff;

    &:hover {
      background: lighten(#0077ff, 10%);
      color: #fff;
    }
  }

  &--default {
    background: #fff;
    box-shadow: none;
    color: #c1c1c2;

    &:hover {
      background: darken(rgb(255, 255, 255), 10%);
      color: #0077ff;
    }
  }

  &--link {
    text-decoration: none;
  }

  &--icon {
    padding: 0.6em;
    border-radius: 0.6em;
    font-size: 20px;
  }

  &--full-width {
    width: 100%;
  }
}
