.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 68px;
  padding: 0 24px 0 94px;
  background: #fff;

  &__title {
    color: #2b2f53;
    text-transform: capitalize;
  }

  &__user {
    width: 48px;
    height: 48px;
    background: #ccc;
    border-radius: 50%;
  }
}
