.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: grid;
  grid-template-rows: 68px 2px 1fr 2px 68px;
  width: 68px;
  height: 100vh;
  background: #fff;
  box-shadow: 2px 0px 0px #f2f2f7;

  &-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-middle {
    display: flex;
    justify-content: center;
    margin: 24px 0 auto;
  }

  &-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
