.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 68px;
  height: 100vh;
  padding: 24px 0;
  font-size: 20px;
  color: #c1c1c2;
  background: #fff;
  box-shadow: 2px 0px 0px #f2f2f7;

  &__logo {
    color: #2b2f53;
  }

  &__settings {
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: rotate(60deg);
      color: #0077ff;
    }
  }

  &-menu {
    margin: 0 0 auto;
  }
}
